<div class="container-fluid">
    <hr>
      <app-search-form (getName)='findUser($event)'></app-search-form>
    
  <div class="container content ">
    <div class="row">
      <div class="col-sm-5 image-end">
        <img src="{{users.avatar_url}}">
      </div>
      <div class="card-body">
        <span class="name"> &nbsp;{{users.name}}</span>
        </div>
        </div>
        <div class="col-sm-7 user">
          <div class="card">
          <div class="card-body">
            <span class="name">Github Username:</span>
              <p> <a href="{{users.html_url}}" target="_blank">{{users.login}}</a></p>
            <p>Repositories:</p>
            <hr>
            <p>{{users.public_repos }}</p>
            <hr>
            <p>Date created:</p>
            <p>{{users.created_at | date}}</p>
            <hr>
            <p>Followers:</p>
            <p>{{users.followers}}</p>
            <hr>
            <p>Following</p>
            <p>{{users.following}}</p>
          </div>
          </div>
          </div>
          </div> 
          
<hr>
<section class="bg-dark text-light" >
<div class="text-center repos" id="reps">
  <h2> User Repositories</h2>
</div>
<div class="container allrepos">
<div class="card" appHighlight *ngFor="let repository of userRepos.newRepository" style="width: 22rem;" class="repo">
  <div class="card-body" >
    <h5 class="card-title"><span class="top">Repository Name:</span> &nbsp;{{repository.name}} </h5>
    <div class="card-text">
      <hr>
      <div class="desc"><span class="top">Description:</span> &nbsp;{{repository.description}} 
      </div>
      <hr>
      <div class="card-subtitle mb-2">
          <span class="top">Language: </span> {{repository.language}}
      </div>
      <div class="card-subtitle mb-2"><span class="top">Created:&nbsp; <span id="created">{{repository.created_at | date}}</span> &nbsp;  On:</span> &nbsp;{{repository.created_at | date}}
      </div>
    </div>
    </div>
    </div>
    </div>
</section>