  <div class="container-fluid">
    <br>
    <app-search-form (getName)="searchRepos($event)"></app-search-form>
    <br>
      <div class="container">
          <div class="container allrepos">
              <div class="card" appHighlight  *ngFor="let repository of gitRepoRequest.searchRepo" style="width: 22rem;" class="repo">
                <div class="card-body">
                  <h5 class="card-title">Repository Name: &nbsp;{{repository.name}} </h5>
                  <div class="card-text">
                    <hr>
                    <div class="desc"><span class="top">Description:</span> &nbsp;{{repository.description}} 
                    </div>
                    <div class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{repository.created_at | date}}
                      <div class="card-text"><a style="text-align: center" href="{{repository.html_url}}"></a></div>

                     <div class="card-text">Repository Owner: <a href="{{repository.owner.html_url}}">{{repository.owner.login}}</a></div>
                    </div>
                  </div>

                  </div>
                 
              </div>
            </div>
      </div>
  </div>